.form {
    border: 2px, solid, black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 10px;
    /* gap: 10px; */
  
}

.button {
    display: inline-block;
    pointer-events: auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f0f0f0;
    margin: 20px auto;
    font-size: 16px;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: fit-content;
}

.label {
    margin-top: 10px;
    /* margin-bottom: 2px; */
    padding-left: 20px;
}

.name {
    border: 1px solid black;
    border-radius: 2px;
    
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
}